<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grades</title>
</head>
<body>

    <nav>
    <a href="/">Home</a>
    <a href="/profile">Profile</a>
    <a href="/skills">Skills</a>
    <a href="/projects">Projects</a>
    <a href="/grades">Grades</a>
</nav>


    <h1>Student Grades</h1>

    <table border="1" cellpadding="10">
        <tr>
            <th>Subject</th>
            <th>Grade</th>
        </tr>

        {% for subject, grade in grades.items() %}
        <tr>
            <td>{{ subject }}</td>
            <td>{{ grade }}</td>
        </tr>
        {% endfor %}
    </table>

    <p><strong>Total Subjects:</strong> {{ grades|length }}</p>

</body>
</html>

